<!-- SECTION TIME PROCESS -->

<ion-menu [content]="content" side="right">
  <ion-header id="barTime">
      <ion-title class="titreTime">Time process <ion-icon name="md-time"></ion-icon> </ion-title>
  </ion-header>
  <ion-content padding class="no-scroll">

    <div class="dataCrew">
      <p class="titleProcessTime">Crew:</p>
      <p>Crew change (on Position) <ion-icon id="crewChange" name="md-radio-button-on" (click)="getHeure($event)" > {{currentTimeData.crewChange}} </ion-icon></p>
      <p>Ready <ion-icon id="ready" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.ready}} </ion-icon></p>
      <p>Deboarding End <ion-icon id="deboard" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.deboard}}</ion-icon></p>
      <p>Last Passenger on Board <ion-icon id="lastPassenger" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.lastPassenger}}</ion-icon></p>
    </div>

    <div class="dataBoarding">
      <p class="titleProcessTime">Boarding Time:</p>
      <p>Pré-Boarding <ion-icon id="preboard" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.preboard}}</ion-icon></p>
      <p>Boarding <ion-icon id="board" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.board}}</ion-icon></p>
      <p>End Boarding <ion-icon id="boardEnd" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.boardEnd}}</ion-icon></p>
    </div>

    <div class="dataDoor">
      <p class="titleProcessTime">Doors:</p>
      <p>Aircraft Closed <ion-icon id="aircraftClose" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.aircraftClose}}</ion-icon></p>
      <p>Holds Closed <ion-icon id="holdClose" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.holdClose}}</ion-icon></p>
    </div>

    <div class="dataBus">
      <p class="titleProcessTime">Bus:</p>
      <p>1st Bus <ion-icon id="bus1" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.bus1}}</ion-icon></p>
      <p>2nd Bus <ion-icon id="bus2" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.bus2}}</ion-icon></p>
      <p>3rd Bus <ion-icon id="bus3" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.bus3}}</ion-icon></p>
    </div>

    <div class="dataLoading">
      <p class="titleProcessTime">Loading: </p>
      <p>Start <ion-icon id="loadStart" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.loadStart}}</ion-icon></p>
      <p>End <ion-icon id="loadEnd" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.loadEnd}}</ion-icon></p>
    </div>

    <div class="dataReactionary">
      <p class="titleProcessTime">Reactionary:</p>
      <p>Fueling End <ion-icon id="fuelingEnd" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.fuelingEnd}}</ion-icon></p>
      <p>Technical Repair End <ion-icon id="technicEnd" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.technicEnd}}</ion-icon></p>
      <p>Bag searching <ion-icon id="bagSearch" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.bagSearch}}</ion-icon></p>
      <p>Bag searching End <ion-icon id="bagSearchEnd" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.bagSearchEnd}}</ion-icon></p>
      <p>De-Ice Start <ion-icon id="deiceStart" name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.deiceStart}}</ion-icon></p>
      <p>De-Ice End <ion-icon id="deiceEnd"name="md-radio-button-on" (click)="getHeure($event)"> {{currentTimeData.deiceEnd}}</ion-icon></p>
    </div>

  </ion-content>
</ion-menu>



<!--
  Generated template for the Form page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar >

    <button ion-button menuToggle right>
      <ion-icon name="md-stopwatch" id="timeWatch"></ion-icon>
    </button>


  <ion-navbar >
    <ion-title>{{ fourre.planeType }}</ion-title>
  </ion-navbar>

</ion-toolbar>



    <!--<input type="text" (change)="save()" [(ngModel)]="fourre.dest"> a voir si ce code est juste (FOURRE.DEST)-->

<!--process section -pages -->

<div padding>
  <ion-segment [(ngModel)]="process">
    <!--<div class="border"></div>-->
    <ion-segment-button value="Flight">
      <p>Flight</p>
           <ion-checkbox  mode="ios" checked="true"></ion-checkbox>
    </ion-segment-button>

    <ion-segment-button value="LFC">
        <p>LFC</p>

           <ion-checkbox  mode="ios" checked="false"></ion-checkbox>

    </ion-segment-button>

    <ion-segment-button value="LMC">
        <p>LMC</p>

           <ion-checkbox  mode="ios" checked="false"></ion-checkbox>

    </ion-segment-button>

    <ion-segment-button value="IR">
        <p>IR</p>

           <ion-checkbox mode="ios" checked="false"></ion-checkbox>

    </ion-segment-button>
  </ion-segment>
</div>


</ion-header>



<ion-content padding #content>
  <!--<ion-item>  ICONES POUR LE PROCESS BAR

    <ion-icon name= "ios-checkmark-circle"></ion-icon>

    <ion-icon name= "ios-checkmark-circle"></ion-icon>
    <ion-icon name= "md-radio-button-off"><p>LMC</p></ion-icon>
    <ion-icon name= "ios-checkmark-circle"></ion-icon>
    <ion-icon name= "md-radio-button-off"><p>IR</p></ion-icon>

  </ion-item> -->

  <div [ngSwitch]="process">

  <!--<p class="titresSections">Flight Data</p>-->


    <div *ngSwitchCase="'Flight'">


      <ion-list class="flightData">

        <ion-item>
          <ion-label color="primary">FLIGHT</ion-label>
          <ion-input type="text" [(ngModel)]="fourre.flight" (ngModelChange)="onFlightChanged()"></ion-input>
        </ion-item>
        <div id="errorFlightInfo" style="color:deeppink" *ngIf="lastError">{{lastError}}</div>

  <!--section à déplacer-->
        <!--<ion-item>
          <ion-label color="primary">Crew</ion-label>
          <ion-input type="text" [(ngModel)]="fourre.crew" (ngModelChange)="save()"></ion-input>
        </ion-item>-->

      </ion-list>


<!-- SECTION  / FORM / FLIGHT -->

        <ion-list class="flightTimeData">

          <ion-item>
            <ion-label color="primary">Destination</ion-label>
            <ion-input type="text"  [(ngModel)]="fourre.destination" (ngModelChange)="save()"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary">Position</ion-label>
            <ion-input type="number" [(ngModel)]="fourre.position" (ngModelChange)="save()"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary">Gate</ion-label>
            <ion-input type="text" [(ngModel)]="fourre.gate" (ngModelChange)="save()"></ion-input>
          </ion-item>
<br>
          <ion-item>
            <ion-label color="primary">STD</ion-label>
            <ion-datetime displayFormat="HH:mm"  [(ngModel)]="fourre.std" (ngModelChange)="save()"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label color="primary">ETD</ion-label>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="fourre.etd" (ngModelChange)="save()"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label color="primary">SLOT</ion-label>
            <ion-input type="text"[(ngModel)]="fourre.SLOT" (ngModelChange)="save()"></ion-input>
          </ion-item>

<br>
          <ion-item>
            <ion-label color="primary">STA</ion-label>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="fourre.sta" (ngModelChange)="save()"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label color="primary">ATA</ion-label>
            <ion-input type="text" [(ngModel)]="fourre.ata" (ngModelChange)="save()"></ion-input>
          <!--  <ion-datetime displayFormat="HH:mm" [(ngModel)]="fourre.etd"></ion-datetime>-->
          </ion-item>

          <ion-item>
            <ion-label color="primary">INBOUND</ion-label>
            <ion-input type="text" [(ngModel)]="fourre.inbound" (ngModelChange)="save()"></ion-input>
          </ion-item>


        </ion-list>


    </div>



<!-- SECTION FORM / LFC -->


    <div *ngSwitchCase="'LFC'" class="lfcComplet">
      <div id="errorFlightInfo" style="color:deeppink" *ngIf="lastError">{{lastError}}</div>
      <p class="titresSections">LFC</p>

      <ion-list class="lfc">

        <div class="PaxEtZones">
          <div id="pax">
            <p>Paxs</p>
            <ion-item>
              <ion-label color="primary">Nombre Paxs:</ion-label>
              <ion-input type="text" [(ngModel)]="fourre.paxs"  (ngModelChange)="save()"></ion-input>
            </ion-item>
          </div>

      <div id="zones">

            <div class="zoneA">
              <ion-row>
                <ion-col>
                  <ion-label color="primary" class="casesZones">ZONE A</ion-label>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input class="cases" type="number" [(ngModel)]="fourre.zonesLfcA"  (ngModelChange)="save()"></ion-input>
                  </ion-item>
              </ion-col>
            </ion-row>
          </div>

          <div class="zoneB">
            <ion-row>
              <ion-col>
                <ion-label color="primary" class="casesZones">ZONE B</ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input class="cases" type="number" [(ngModel)]="fourre.zonesLfcB"  (ngModelChange)="save()"></ion-input>
                </ion-item>
            </ion-col>
          </ion-row>
        </div>

        <div class="zoneC">
          <ion-row>
            <ion-col>
              <ion-label color="primary" class="casesZones">ZONE C</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input class="cases" type="number" [(ngModel)]="fourre.zonesLfcC"  (ngModelChange)="save()"></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

<div class="clear"></div>


        <div class="chargement">
          <p>Chargement</p>
            <ion-item>
              <ion-label color="primary">Nombre Bagages Total: </ion-label>
              <ion-input type="number" [(ngModel)]="fourre.luggageCount"  (ngModelChange)="save()"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary">Poids Moyen: </ion-label>
              <ion-input type="number" [(ngModel)]="fourre.luggageAvgWeight" (ngModelChange)="save()" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary">Poids Total: </ion-label>
              <ion-input type="number" [(ngModel)]="fourre.luggageTotalWeight"  (ngModelChange)="save()"></ion-input>
            </ion-item>
        </div>

        <div class="Soute">


          <div class="titreSoute">
              <p>Repartition soute</p>
          </div>



          <div class="cpt">

            <div class="row1Cpt1">
                <ion-row >
                  <ion-col>
                        <ion-label color="primary">CPT1 </ion-label>
                  </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt1" (ngModelChange)="onLfcChanged()"></ion-input>
                    </ion-item>
                 </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                    <ion-item>
                        <!--<ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt1Poids"></ion-input>-->
                        <div class="cases">{{fourre.lfcCpt1Poids}}</div>
                    </ion-item>
                 </ion-col>
              </ion-row>
            </div>

            <div class="row2Cpt3">
                <ion-row >
                  <ion-col>
                        <ion-label color="primary">CPT3 </ion-label>
                  </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt3" (ngModelChange)="onLfcChanged()"></ion-input>
                    </ion-item>
                 </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                    <ion-item>
                        <!--<ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt3Poids"></ion-input>-->
                        <div class="cases">{{fourre.lfcCpt3Poids}}</div>
                    </ion-item>
                 </ion-col>
              </ion-row>
            </div>

            <div class="row3Cpt4">
                <ion-row>
                  <ion-col>
                        <ion-label color="primary">CPT4 </ion-label>
                  </ion-col>
              </ion-row>

              <ion-row >
                <ion-col>
                    <ion-item>
                        <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt4" (ngModelChange)="onLfcChanged()"></ion-input>
                    </ion-item>
                 </ion-col>
              </ion-row>

              <ion-row >
                <ion-col>
                    <ion-item>
                        <!--<ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt4Poids"></ion-input>-->
                        <div class="cases">{{fourre.lfcCpt4Poids}}</div>
                    </ion-item>
                 </ion-col>
              </ion-row>
            </div>

            <div class="row4Cpt5">
                <ion-row >
                  <ion-col>
                        <ion-label color="primary">CPT5 </ion-label>
                  </ion-col>
              </ion-row>

              <ion-row>
                <ion-col >
                    <ion-item>
                        <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt5" (ngModelChange)="onLfcChanged()"></ion-input>
                    </ion-item>
                 </ion-col>
              </ion-row>

              <ion-row>
                <ion-col >
                    <ion-item>
                        <!--<ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt5Poids"></ion-input>-->
                        <div class="cases">{{fourre.lfcCpt5Poids}}</div>
                    </ion-item>
                 </ion-col>
              </ion-row>
            </div>


<!-- ANCIENNE VERSION CODE DESSUS SANS R -->


            <!-- <ion-row>
              <ion-col width-50>
                  <ion-item>
                      <ion-label color="primary">CPT1: </ion-label>
                      <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt1" (ngModelChange)="onLfcChanged()"></ion-input>
                      <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt1Poids"  (ngModelChange)="save()"></ion-input>
                      <div>{{fourre.lfcCpt1Poids}}</div>
                  </ion-item>
               </ion-col>
            </ion-row> -->


<!--
            <ion-row>
              <ion-col width-50>
                  <ion-item>

                    <ion-label color="primary">CPT3: </ion-label>
                    <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt3" (ngModelChange)="onLfcChanged()"></ion-input>
                    <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt3Poids" (ngModelChange)="save()" ></ion-input>

                  </ion-item>
              </ion-col>
            </ion-row> -->

            <!-- <ion-row>
                <ion-col width-50>
                      <ion-item>

                        <ion-label color="primary">CPT4: </ion-label>
                        <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt4" (ngModelChange)="onLfcChanged()"></ion-input>
                        <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt4Poids"  (ngModelChange)="save()"></ion-input>

                      </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col width-50>
                  <ion-item>

                    <ion-label color="primary">CPT5: </ion-label>
                    <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt5" (ngModelChange)="onLfcChanged()"></ion-input>
                    <ion-input class="cases" type="number" [(ngModel)]="fourre.lfcCpt5Poids"  (ngModelChange)="save()"></ion-input>

                  </ion-item>
                </ion-col>
            </ion-row> -->

          </div>



          <div class="clear"></div>

        </div>


  <div class="assCss">
    <p>Assistances</p>

      <div class="WCHR">
        <ion-row>
          <ion-col >
            <button ion-button outline>WCHR</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
              <ion-item>
                  <ion-label color="primary" fixed>Number:</ion-label>
                  <ion-input class="cases" type="number"></ion-input>
              </ion-item>
           </ion-col>
        </ion-row>
      </div>

      <div class="WCHS">
        <ion-row>
          <ion-col >
            <button ion-button outline>WCHS</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
              <ion-item>
                  <ion-label color="primary" fixed>Number:</ion-label>
                  <ion-input class="cases" type="number"></ion-input>
              </ion-item>
           </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            <button ion-button outline>WCMP</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
              <ion-item>
                  <ion-label color="primary" fixed>Number:</ion-label>
                  <ion-input class="cases" type="number"></ion-input>
              </ion-item>
           </ion-col>
        </ion-row>
      </div>

      <div class="WCHC">
        <ion-row>
          <ion-col >
            <button ion-button outline>WCHC</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
              <ion-item>
                  <ion-label color="primary" fixed>Number:</ion-label>
                  <ion-input class="cases" type="number"></ion-input>
              </ion-item>
           </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            <button ion-button outline>WCMP</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
              <ion-item>
                  <ion-label color="primary" fixed>Number:</ion-label>
                  <ion-input class="cases" type="number"></ion-input>
              </ion-item>
           </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            <button ion-button outline>WCBD</button>
            <ion-item>
              <ion-label color="primary" fixed>Poids:</ion-label>
              <ion-input class="cases" type="number" [(ngModel)]="fourre.poidsWcbd"(ngModelChange)="save()"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
              <ion-item>
                  <ion-label color="primary" fixed>Number:</ion-label>
                  <ion-input class="cases" type="number"></ion-input>
              </ion-item>
           </ion-col>
        </ion-row>

      </div>

      <div class="BLND">
        <ion-row>
          <ion-col >
            <button ion-button outline>BLND</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            <ion-item>
                <ion-label color="primary" fixed>Number:</ion-label>
                <ion-input class="cases" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <div class="DEAF">
        <ion-row>
          <ion-col >
            <button ion-button outline>DEAF</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
              <ion-item>
                  <ion-label color="primary" fixed>Number:</ion-label>
                  <ion-input class="cases" type="number"></ion-input>
              </ion-item>
           </ion-col>
        </ion-row>
     </div>

  </div>

      </ion-list>

    </div>





    <!-- SECTION FORM / LMC -->

    <div *ngSwitchCase="'LMC'" class="lmcComplet">
      <p class="titresSections">LMC</p>

      <ion-list class="lmc">
        <ion-item>
          <ion-label color="primary">Hold Bags</ion-label>
          <ion-input type="number" [(ngModel)]="fourre.holdBagsLmc"  (ngModelChange)="save()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">Gate Bags</ion-label>
          <ion-input type="number" [(ngModel)]="fourre.gateBagsLmc"  (ngModelChange)="save()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">Rush</ion-label>
          <ion-input type="number" [(ngModel)]="fourre.rushLmc"  (ngModelChange)="save()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">WCMP</ion-label>
          <ion-input type="number" [(ngModel)]="fourre.wcmpNbr"  (ngModelChange)="save()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">CPT</ion-label>
          <ion-input type="number" [(ngModel)]="fourre.wcmpCptNbr"  (ngModelChange)="save()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">WCBD</ion-label>
          <ion-input type="number" [(ngModel)]="fourre.wcbdNbr"  (ngModelChange)="save()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">CPT</ion-label>
          <ion-input type="number" [(ngModel)]="fourre.wcbdCptNbr"  (ngModelChange)="save()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">Nombre paxs FINAL</ion-label>
          <ion-input type="number" [(ngModel)]="fourre.nbrPaxsFinal"  (ngModelChange)="save()"></ion-input>
          <ion-label color="primary">/</ion-label>
          <ion-input type="number" [(ngModel)]="fourre.nbrPaxsFinalInf"  (ngModelChange)="save()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">CPT1: </ion-label>
          <ion-input class="cases" type="number" [(ngModel)]="fourre.cpt1Lfc"  (ngModelChange)="save()"></ion-input>
          <ion-input class="cases" type="number" [(ngModel)]="fourre.cpt1PoidsLfc"  (ngModelChange)="save()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">CPT3: </ion-label>
          <ion-input class="cases" type="number" [(ngModel)]="fourre.cpt3Lfc"  (ngModelChange)="save()"></ion-input>
          <ion-input class="cases" type="number" [(ngModel)]="fourre.cpt3PoidsLfc"  (ngModelChange)="save()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">CPT4: </ion-label>
          <ion-input class="cases" type="number" [(ngModel)]="fourre.cpt4Lfc"  (ngModelChange)="save()"></ion-input>
          <ion-input class="cases" type="number" [(ngModel)]="fourre.cpt4PoidsLfc"  (ngModelChange)="save()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">CPT5: </ion-label>
          <ion-input class="cases" type="number" [(ngModel)]="fourre.cpt5Lfc"  (ngModelChange)="save()"></ion-input>
          <ion-input class="cases" type="number" [(ngModel)]="fourre.cpt5PoidsLfc"  (ngModelChange)="save()"></ion-input>
        </ion-item>

      </ion-list>
    </div>

<!-- SECTION FORM / IR -->

    <div *ngSwitchCase="'IR'" class="irComplet">
          <p class="titresSections">IR</p>

      <ion-list class="Ir">
          <div class="block1">
            <div class="atd">
              <ion-item>
                <ion-label color="primary">ATD</ion-label>
                <ion-datetime displayFormat="HH:mm" [(ngModel)]="fourre.atd"  (ngModelChange)="save()"></ion-datetime>
              </ion-item>
            </div>

          <div class="mn">
            <ion-item>
              <ion-label color="primary">DL</ion-label>
              <ion-datetime displayFormat="HH:mm" [(ngModel)]="fourre.TimeDelay"  (ngModelChange)="save()"></ion-datetime>
            </ion-item>
          </div>
        </div>

        <div class="block2">
            <div class="irs1">
                <ion-item>
                  <ion-label color="primary">IR1</ion-label>
                  <ion-input type="number" [(ngModel)]="fourre.irCode1"  (ngModelChange)="save()"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="primary">DL1</ion-label>
                  <ion-datetime displayFormat="mm" [(ngModel)]="fourre.mnDelay1"  (ngModelChange)="save()"></ion-datetime>
              </ion-item>
            </div>

            <div class="irs2">
                <ion-item>
                  <ion-label color="primary">IR2</ion-label>
                  <ion-input type="number" [(ngModel)]="fourre.irCode2"  (ngModelChange)="save()"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="primary">DL2</ion-label>
                  <ion-datetime displayFormat="mm" [(ngModel)]="fourre.mnDelay2"  (ngModelChange)="save()"></ion-datetime>
                </ion-item>
            </div>

            <div class="irs3">
                <ion-item>
                  <ion-label color="primary">IR3</ion-label>
                  <ion-input type="number" [(ngModel)]="fourre.irCode3"  (ngModelChange)="save()"></ion-input>
                </ion-item>

              <ion-item>
                <ion-label color="primary">DL3</ion-label>
                <ion-datetime displayFormat="mm" [(ngModel)]="fourre.mnDelay3"  (ngModelChange)="save()"></ion-datetime>
              </ion-item>
            </div>
        </div>

<div class="clear"></div>

        <div class="sectionComments">
          <ion-item class="textRemarks">
            <ion-label id="remarks" color="primary">Remarks</ion-label>
            <ion-input type="string" [(ngModel)]="remarks"  (ngModelChange)="save()"></ion-input>
          </ion-item>
        </div>

      </ion-list>

      <!--
      <div class="saveBoutton">
        <button ion-button outline (click)="save()">save</button>
      </div>
      -->

    </div>

  </div>



</ion-content>
