//GENERAL

page-form {
  img {
    margin-bottom: 10px;
  }
  
  ion-navbar{
    .button-inner{
    }
    .button {
      left:80%;
    }
  }
  ion-title{
   .title.title-md{
     color:red;
   }
  }

  .segment-md .segment-button {
    height: auto!important;
    border: none;
    color: $couleurorange;
  }

  .item-md.item-block .item-inner{
    border-bottom:none;
  }

.item-block.item.item-md.item-checkbox{
  padding-left: 120px;
}

.checkbox-ios .checkbox-checked .checkbox-inner{
  position: absolute;
  top: 18%;
  left: 40%;
  width: 6px;
  height: 15px;
  border-width: 2px;
  border-top-width: 0;
  border-left-width: 0;
  border-style: solid;

  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-ios .checkbox-icon{
  background-color: #fff;
  border-color:$couleurorange;
}

.segment-md .segment-button{
  padding:0px;
}



.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: $couleurorange;
}

/*.TimeProcessColor.toolbar.toolbar-md{
  color:#fff;
  background-color: #6ebaf4;
}*/


//ion-segment .border{
//  border-bottom: 5px solid #000;
//  width: 50%;
//  z-index:-0;
//}

//SECTION CARRE DS FLIGHT AVEC HEURES ATC AND CO
ion-list.flightTimeData.list.list-md{
  height: 470px;
  width: 40%;
  margin:auto;
  border: 1px solid $couleurorange;
  padding: 5px;
  color:#6b6865;
  margin-top: 60px;

}

//SECTION FORM flight


.item-md {
  position: relative;
  padding-right: 0;
  //padding-left: 16px;
  font-size: 1.8rem;
  font-weight: normal;
  text-transform: none;
  color: #000;
  background-color: #fff;

  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-md .item-input:last-child {
  border-bottom:none;
}



.list-md{
  margin: 0px;
}

.flightData.list.list-md{
  padding: 10px 0px;
  margin:40px;
  width: 900px;
  margin-top: 60px;
  // border-bottom: 1px solid $couleurgris;
  // border-top: 1px solid $couleurgris;
}
.toolbar-title-md{
  color: $couleurorange;
}
.saveBoutton{
  margin:auto;
  height:200px;
  width: 200px;
  padding: 10px 10px;
  margin-top: 60px;
}

.titresSections{
  color: $couleurorange;
  font-size: 1.8rem;
  border: 1px solid $couleurorange;
  padding:8px;
}

.irComplet .titresSections{
  height: 39px;
  width: 656px;
}

#barTime{
  height: 60px;
  background-color:$couleurbleu;
}

//ne marche pas!
.titreTime .toolbar-title-md{
  color:#fff;
  padding: 15px;
  text-align:center;
}

// .page-form .toolbar-title-md{
//   color:#fff;
// }

.no-scroll .scroll-content{
     overflow: hidden;
     padding: 30px;
}
.titleProcessTime{
  color:$couleurorange;
  font-size:1.5rem;
}

.dataCrew.dataBoarding.dataDoor.dataBus.dataLoading.dataReactionary{ //marche pas
  padding-bottom: 50px;
}

.lfcComplet, .lmcComplet, .irComplet{
  margin: 40px;
}

.label.label-md.label-md-primary{
  color:$couleurgrisF;
}
.cases .text-input.ng-untouched.ng-pristine.ng-valid.text-input-md,
.cases div {
  border:1px solid $couleurgrisF;
  width:40px;
  height:20px;
}


// .cpt .item-block.item.item-md.item-input.ng-untouched.ng-pristine.ng-valid.item-multiple-inputs{
//   float:left;
// }


//REPARTITION SOUTE

.soute{
 height: 100px;
}

.ligneTxtCpt ul{
  list-style-type: none
}

.ligneTxtCpt li{
  float: left;
  padding-right: 40px;
}

.row1Cpt1, .row2Cpt3, .row3Cpt4, .row4Cpt5{
  float:left;
  width: 25%;
  border-right: 1px solid $couleurbleu;
}

//Assistances

// .assCss{
//   display:inline-block;
//   width:400px;
// }

.WCHC, .WCHS, .WCHR, .DEAF, .BLND{
  float:left;
  width:20%;
  border-right: 1px solid $couleurbleu;
}

.assCSS .input-wrapper{
  font-size:10px;
}

//GENERAL ET CASES INPUT

.cases{
  float:left;
  border:1px solid $couleurbleu;
  width: 60px;
  height: 30px;
  margin-right: 67px;
}

ion-col{
  padding-left: 20px;
}

ion-item .casesCPT{
  border: 1px solid $couleurbleu;
  width:50px;
  height: 50px;
  padding-right:10px;
}

.clear{
  clear:both;
}


.irComplet{
  width:800px;
}
.block1{
  width:130px;
  float:left;
  border: 1px solid $couleurbleu;
  height: 100px;
  margin-right:10px;
}

.block2{
  width:400px;
  float:left;
  border: 1px solid $couleurgrisF;
}
.irs1, .irs2, .irs3{
  float:left;
  width: 220px;
}
.textRemarks .text-input.ng-untouched.ng-pristine.ng-valid.text-input-md{
  border-bottom:1px solid $couleurgris;
}
.sectionComments{
  margin-top: 80px;
  margin:auto;
}

//SECTION LFC

.zoneA, .zoneB, .zoneC{
  float: left;
}

.cases .text-input.ng-untouched.ng-pristine.ng-valid.text-input-md{
  border: none;
  width: 80px;
  height: 40px;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
border-bottom-color: none;
box-shadow: none;
}

// probleme ne change pas au bon endroit, bizarre
.text-input-md {
    /* margin: 13px 8px 13px 8px; */
    padding: 0;
    width: calc(100% - 8px - 8px);
}

.cases .text-input-md{
  border-bottom: none;
  margin:0px;
  //padding-left: 20px;
}

.lfcComplet .input-wrapper{
  font-size: 16px;
}

.lfc p{
  color: $couleurbleu;
  font-size:14px;
}
}
